html,
body, 
main {
height: 100%;
margin: 0;
padding: 0;
}

.list {
  display: none;
}

gmp-advanced-marker {
  cursor : pointer;
}

#legend {
  display: none;
  position: absolute;
  background-color: white;
  padding: 5px;
  width: 200px;
}

#legend span {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#legend h2 {
  margin: 0;
}

form {
  border: 2px solid black;
  width: 50vw;
  margin-bottom: 5px;
}